body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 20px 0px #ddd;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav>img {
    width: 40px;
}

.nav-items>li {
    margin: 0 40px;
}

.main-list {
    list-style: none;
}

.footer {
    object-position: bottom;
    background-color: #ddd;
    padding: 1px 10px;
}